header {
  display: flex;
  height: 20vh;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-bottom: red dot-dash;
  border-bottom-width: thick;
}

a {
  width: 10rem;
  padding-left: 1em;
  padding-right: 1em;
}

#main-logo {
  max-height: 100%;
  max-width: 100%;
  background-color: #02D9D0;
  border-radius: 100%;
}

#top-ten-logo {
  max-height: 100%;
  max-width: 100%;
}

h1 {
  font-style: italic;
  font-weight: bolder;
  font-stretch: extra-expanded;
}
