.movie {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap:0.5em;
  padding: 1rem;
}

.movie-top-ten {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.movie:hover, .movie-top-ten:hover {
  background-color: #FCDB3C;
  cursor: pointer;
  border-radius: 3rem;
}

.movie, .movie-top-ten, p, h3 {
  text-align: center;
}

.movie img {
  width: 60%;
  height: 60%;
}

.movie-top-ten img {
  width: 90%;
  height: 90%;
}


dialog {
  background-color: rgba(32, 82, 221, 0.9);
  color: white;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
