* {
  box-sizing: border-box;
  margin:0;
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
  background: rgb(29,13,78);
  background: linear-gradient(180deg, rgba(29,13,78,1) 0%, rgba(144,60,229,1) 100%);
}
